## COO-data
**/images/*
**/vis/tmp*

## MTSv3
**/MTSv3_data/*
**/demo_images/*
**/demo_results/*
**/best_model/*
**/M4C_vis_emb/*
**/seed*/*
**/output/*
**/cache_files/*
**/cache_files_val/*
**/cache_files_test/*

# lmdb
*.lmdb
*.mdb

# compilation and distribution
**/__pycache__/*
**/_ext/*
*.pyc
*.so
**/maskrcnn_benchmark.egg-info/*
**/build/*
**/dist/*


## TRBA
**/TRBA_data/*
**/tensorboard/*
**/saved_models/*
**/data_CVPR2021/*
**/image_release/*
**/image_test/*
**/result/*
**/demo_image/test/*
**/demo_image/train/*
*.mdb
*.pth
*.tar
*.txt
*.ipynb
*.zip
*.eps
*.pdf


## M4C-COO
**/M4C_feature/emb_paper/*
**/M4C_feature/emb/*
**/save/*
**/save_test/*
*.tar
*.gz

# fastText features
*.bin
*.vec


## ABCNetv2
**/ABCNetv2_data/*
**/demo_images/*
**/demo_results/*
**/output/*


*.log
*.err
*.pyc
*.swp
.idea/*
**/__pycache__/*
**/output/*
data/.DS_Store
docs/build
results/*
build
dist
boards/*
*.egg-info/
checkpoint
*.pth
*.ckpt
*_cache
.cache
data
save
*.eggs
.eggs
eggs/
*.egg
.DS_Store
.vscode
.vscode/*
*.so
*-checkpoint.ipynb
!tests/data
